
<div class="container my-5">
    <div class="header-section text-light text-center p-5" style="background-image: url('libled.jpg');">
        <h2 class="header-title">@HeaderTitle</h2>
    </div>

    <div class="card shadow-lg">
        <div class="card-body">
            <h3 class="card-title text-primary mb-4">@HeaderTitle</h3>
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string HeaderTitle { get; set; } = "Default";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}