<footer class="footer bg-secondary text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Lorem </h5>
                <ul class="list-unstyled">
                    <li><span>Mauris</span></li>
                    <li><span>convallis</span></li>
                    <li><span>ipsum</span></li>
                    <li><span>non facilisis</span></li>
                </ul>
            </div>

            <div class="col-md-4 mb-3">
                <h5>Ipsum</h5>
                <ul class="list-unstyled">
                    <li><span>cursus</span></li>
                    <li><span>lacus </span></li>
                    <li><span>dui placerat</span></li>
                    <li><span>ex, eu cursus</span></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5>dolor</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><span>eget </span></li>
                            <li><span>facilisis</span></li>
                            <li><span>magna </span></li>
                            <li><span>sollicitudin </span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><span>Nam scelerisque </span></li>
                            <li><span>facilisis est</span></li>
                            <li><span>id pharetra</span></li>
                            <li><span>Proin convallis</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>